* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 2rem auto;
    text-align: center;
}

section {
    width: 80%;
    max-width: 80%;
    margin: auto;
    border: 2px solid #eeeeee;
}

.formDiv {
    display: flex;
    align-items: center;
}

.formDiv > label {
    width: 20%;
    min-width: 20%;
    text-align: center;
    font-weight: 600;
    letter-spacing: normal;
}

.repeat {
    margin: 0.5rem auto;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    align-items: flex-start;
    padding: 0.5rem 0;
}

.repeat > label {
    margin-top: 0.5rem;
}

.displayCenter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 420px) {
    section {
        width: 95%;
        max-width: 95%;
    }
}
