:root {
    --background: #1e555c;
    --background-tan: #13353a;
    --text: #ffffff;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.colCenter {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.rowCenter {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}

.session-layout {
    border: solid 5px var(--background-tan);
    margin: 20px auto;
    padding: 1.125rem 3rem;
    border-radius: 1.25rem;
}

#timer-label {
    margin: 20px auto;
    font-size: 1.75rem;
}

#time-left {
    display: inline-block;
    margin: 20px auto;
    font-size: 3.25rem;
}

/* Length Component CSS */

.length-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-items: center;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.25rem;
}
