.mainSection {
    border: 2px solid #eeeeee;
}
.formDiv {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    border-bottom: 2px solid #eeeeee;
    width: 100%;
    /* border-bottom: 2px solid #eeeeee; */
}

.start {
    display: flex;
    align-items: center;
}

.formDiv label {
    margin: auto 1rem;
}
